$colors: (
    primary: 210 100% 18%,
    primary-op: 210 100% 18% / 0.1,
    gray: 219 14% 71%,
    gray-op: 219 14% 71% / 0.1,
    background: 218 12% 18%,
    white: 0 0% 100%,
);


$desktopScreen: 1024px;
$tabletScreen: 768px;
$mobileScreen: 500px;


